.post {
  padding: 50px 30px;
  h2 {
    font-size: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  .meta {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.post-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 300px;
    border-radius: 50%;
  }

  .text {
    margin-top: 20px;
    text-align: justify;
  }
}
